.Home {
    text-align: center;
  }
  
  .goitem {
    padding: 10px;
    background: #8b8b8b;
    border-radius: 5px;
  }

  .goitem a {
    text-decoration: none;
    color: #303030;
  }

  .goitem:hover {
    background-color: #797979;
  }

  nav  {
    display: flex;
    justify-content: space-between;
    background: #5A5A5A;
    align-items: center;
    padding-left: 15px;
  }
  
  .DeleteItem {
    width: 200px;
    height: 180px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #5A5A5A;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .CreateItem {
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #5A5A5A;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .UpdateItemInfo {
    width: 200px;
    height: 500px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #5A5A5A;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  

  .nav-links {                                                                                    
    display: flex;                                                                                
    list-style-type: none;                                                                        
    padding: 10px;                                                                       
  }    
  
  .nav-item a {
    padding: 10px;
    text-decoration: none;
    color: white;
    background: #10105a;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .banner {
    background-image: url("../assests/1203prison.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 73px);
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  